.header{
  text-align: center;
  height: 500px;
  background-image: url(images/images2.jpeg);
  background-position: center;
  color: aliceblue;
  padding-top: 10pc;
}
.pizzaImg{
  height: 100px;
}

#pizza-attributs{
  display: none;
}

.pizzaImage{
  height: 150px; 
  overflow: hidden;
}

#shoppingCart{
  position:absolute;
  z-index: 1;
  display: none;
}
.mapouter{
  margin-left: 40pc;
  
}

.contactDetails{
  text-align: center;
}